<% if @user.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>

<div>
  <p>
    If your email address looks right, maybe you already created an account with
    <% if @provider == 'facebook' %>
    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "authbuttons/png/twitter_32.png", size: "32x32", alt: "Twitter" %>
      Twitter
    </a>?
    <% else %>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "authbuttons/png/facebook_32.png", size: "32x32", alt: "Facebook" %>
      Facebook
    </a>?
    <% end %>
  </p>
</div>
<% end %>
