// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "normalize/normalize";

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  -o-border-radius: $r;
  border-radius: $r;
}

@mixin box-shadow($x, $y, $blur, $spread, $color, $inset: false) {
  @if ($inset == inset) { $inset: true; }
  @if ($inset) {
    -webkit-box-shadow: inset $x $y $blur $spread $color;
    -moz-box-shadow: inset $x $y $blur $spread $color;
    -ms-box-shadow: inset $x $y $blur $spread $color;
    -o-box-shadow: inset $x $y $blur $spread $color;
    box-shadow: inset $x $y $blur $spread $color;
  }
  @else {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    -ms-box-shadow: $x $y $blur $spread $color;
    -o-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
}

@mixin transition($props, $dur, $ease, $delay: 0s) {
	-webkit-transition: $props $dur $ease $delay;
	-moz-transition: $props $dur $ease $delay;
	-ms-transition: $props $dur $ease $delay;
	-o-transition: $props $dur $ease $delay;
	transition: $props $dur $ease $delay;
}

@mixin transform-rotate-z($deg) {
	-webkit-transform: rotateZ($deg);
	-moz-transform: rotateZ($deg);
	-ms-transform: rotateZ($deg);
	-o-transform: rotateZ($deg);
	transform: rotateZ($deg);
}

button {
  background: transparent;
  border: 1px solid #666;
  margin: 5px;

  @include border-radius(50%);
  @include transition(all, 0.3s, ease-in);
}
button.dibsy {
  @include box-shadow(0px, 0px, 10px, 0px, #808080);
  @include transform-rotate-z(0deg);
}
button.dibsy:hover {
  @include box-shadow(0px, 0px, 0px, 0px, #808080);
  @include transform-rotate-z(270deg);
}
button.called:hover {
  @include box-shadow(0px, 0px, 0px, 0px, #808080, true);
  @include transform-rotate-z(270deg);
}
button.called {
  @include box-shadow(0px, 0px, 10px, 0px, #808080, true);
  @include transform-rotate-z(540deg);
}